body {
    background-color: #020321;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/*Result texts*/
.main {
    text-align: center;
    color: #ddd;
}

.round-result {
    font-size: 28px;
    font-weight: bold;
    color: #FFFDB0;
}

.score-board {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 15px;
    color: #FFFDB0;
}

.winner-result {
    font-size: 32px;
    font-weight: bold;
    color: #66E398;
    margin-top: 15px;
}

/*Buttons*/
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.selection-button {
    width: 160px;
    height: 160px;
    font-size: 80px;
    border: none;
    border-radius: 10px;
    background-color: #393e46;
}

button:hover {
    background-color: #4a4f57;
}

button:active {
    background-color: #5b5f68;
}
